.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: 400;
  padding: 1rem 0;
}
.footer .link-github {
  margin: 0 0.2rem;
  color: var(--first-color);
  text-decoration: none;
}
.footer__text p,
.footer__copyright p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__copyright p {
  display: block;
}
