.skills__container {
  row-gap: 2rem;
  text-align: center;
}
.skills__subtitle {
  margin-bottom: 1rem;
}
.skills-title {
  color: hsl(204, 100%, 70%);
  font-size: 1.2rem;
  margin-bottom: 3rem;
}
.skills__names {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.skills__name img {
  transition: 0.5s;
}
.skills__name img:hover {
  transform: scale(1.19);
}
.vite {
  width: 2.8rem;
}
.tools {
  width: 90%;
  display: grid;
  grid-template-columns: 17.5% 17.5% 17.5% 17.5%;
  grid-template-rows: 4rem 4rem;
  justify-items: center;
  margin: 0 auto;
}
