.about__container {
  row-gap: 2rem;
  text-align: center;
}
.about__content {
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  padding: 1.1rem 0;
  border-radius: 0.5rem;
}
.about__subtitle {
  margin-bottom: 1rem;
}
.about__text {
  text-align: center;
  padding: 0 1rem;
}
.about__img {
  display: flex;
  justify-content: center;
}
.about__img img {
  width: 200px;
  height: 200px;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 50%;
  object-fit: cover;
}
